/* Start of CSS File */

/* Clear default styles */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
.welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
